#app(ng-app='shaan-banaras')
  #top-bar
    ul.navigation
      li.menu.active
        a.menu(href='#/menu') Menu
      li.call-us
        a.menu(href='#/call') Call
      li.cart
        span Cart (1)

  #cover
    img(src='assets/images/cover-mobile.png')

  #contents
    ui-view