#food-menu
  ul.menu-items
    li(ng-repeat='item in foodMenu.items track by item.id')
      img(ng-src='{{item.image.preview}}')
      .details
        .item-title(ng-bind='item.title')
        .item-price ₹ {{item.price}}
        button.golden.add-to-cart Add to cart