#top-bar{
  ul.navigation{
    @extend .undo-list;
    @extend .resize-container;
    > li{
      float: left;
      height: 60px;
      line-height: 60px;
      width: 33.33%;
      color : $theme_active_color;
      text-align: center;
      font-weight: $weight_light;
      border-left: 1px solid $theme_active_color;
      a{
        @extend .undo-link;
      }
    }
    >li.active{
      @extend .golden-gradient;
      color: black;
      font-weight: $weight_normal;
    }
  }
}