#top-bar{
  position: fixed;
  z-index: $top_bar_layer;
  background-color: black;
  width: 100%;
  box-shadow: $bar_shadow;

  ul.navigation{
    @extend .undo-list;
    @extend .resize-container;
    > li{
      float: left;
      height: $top_bar_height;
      line-height: $top_bar_height;
      width: 33.33%;
      color : $theme_active_color;
      text-align: center;
      font-weight: $weight_light;
      border-left: 1px solid $theme_active_color;
      a{
        @extend .undo-link;
        .phone-icon{
          padding-right: $padding/2;
        }
      }
    }
    >li.active{
      @extend .golden-gradient;
      color: black;
      font-weight: $weight_normal;
    }
  }
}